Repository voxpupuli/puppet-unattended_upgrades, pull requests merged in 2019-04, with the labels that each got.

#140 modulesync 2.7.0 and drop puppet 4
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  metadata.json
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: backwards-incompatible

#141 release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#142 Allow additional origins without replacing the default one.
  README.md
  manifests/init.pp
  templates/unattended-upgrades.erb
Labels: enhancement

#143 Additional sanitization of params
  manifests/init.pp
Labels: needs-rebase
