Repository voxpupuli/puppet-unattended_upgrades, pull requests merged in 2020-05, with the labels that each got.

#164 Drop Ubuntu 14.04
  manifests/params.pp
  metadata.json
Labels: backwards-incompatible

#168 Drop EOL Linux Mint versions 13 and 17
  manifests/params.pp
  spec/classes/other_debians_spec.rb
Labels: backwards-incompatible

#153 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  manifests/params.pp
  spec/spec_helper.rb
Labels: modulesync, tests-fail

#171 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
