Repository voxpupuli/puppet-unattended_upgrades, pull requests merged in 2021-09, with the labels that each got.

#197 Add support for Puppet 7
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .sync.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  metadata.json
  spec/acceptance/unattended_upgrades_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: enhancement

#193 Add support for Debian 11
  manifests/params.pp
  metadata.json
  spec/classes/os_spec.rb
Labels: enhancement

#198 Drop support for Ubuntu 19.10 (EOL)
  metadata.json
Labels: backwards-incompatible

#199 modulesync 4.2.0
  .github/workflows/ci.yml
Labels: modulesync
