Repository voxpupuli/puppet-unattended_upgrades, pull requests merged in 2025-09, with the labels that each got.

#269 Add support for Debian 13 (trixie)
  metadata.json
  spec/classes/os_spec.rb
Labels: enhancement

#270 Add support for Ubuntu 24.04
  metadata.json
Labels: enhancement

#271 Drop support for EOL Debian 10, Ubuntu 18.04, 20.04
  metadata.json
  spec/classes/os_spec.rb
Labels: backwards-incompatible

#267 Release 9.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#275 Add missing docstrings and regenerate REFERENCE.md
  REFERENCE.md
  manifests/init.pp
  manifests/params.pp
  types/age.pp
  types/auto.pp
  types/backup.pp
  types/mail.pp
  types/upgradeable_packages.pp
Labels: docs
